@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;618&display=swap');


.coursel-div{
    position: relative;
    width: 65%;
    /* height: 300px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: blue; */
    /* margin-left: 20%;
    margin-right: 20%; */
    /* border: 1px solid blue */
}

.txtx1{
    color: rgb(11, 130, 199);
    font-family: Rubik, Courier, monospace;
    margin-bottom:15%;
}

.txtx2{
    color: rgb(2, 2, 39);
    margin-top: -4%;
}
.txtx3{
    color: blue;
    /* margin-top: -3%; */
}
/* sx={{border : "2px solid red"}} */
.flex-cont1{
    /* background-color: brown; */
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    text-align: left;

}

.mui-bt{
    width: 70%;
    font-size:smaller;
}